<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Order">

    <!-- Result maps describe the mapping between the columns returned
   from a query, and the class properties.  A result map isn't
   necessary if the columns (or aliases) match to the properties
   exactly. -->
    <resultMap id="EmpResult" type="com.example.model.Employee">
        <result property="firsName" column="FIRST_NAME"/>
        <result property="lastName" column="LAST_NAME"/>
        <result property="email" column="EMAIL"/>
        <result property="salary" column="SALARY"/>
    </resultMap>

    <!-- Select with no parameters using the result map for Order class. -->
    <select id="selectEmployeeByJobId" resultMap="EmpResult">
        select * from employees where job_id = #{body}
    </select>

    <select id="selectMaxSalByJobIdProc" statementType="CALLABLE">
         {call get_max_sal_job_id(#{inParams.param1, jdbcType = VARCHAR , mode = IN}, #{outParams.param2, jdbcType = INTEGER , mode = OUT})}
    </select>

    <select id="selectEmpListByJobIdProc" statementType="CALLABLE">
        {call get_emp_by_job_id(
        #{inParam1, jdbcType = VARCHAR , mode = IN},
        #{employees, jdbcType = CURSOR, javaType=java.sql.ResultSet , mode = OUT, resultMap=EmpResult})}
    </select>

</mapper>